@model ContosoUniversity.Models.Enrollment

@{
    ViewData["Title"] = "Details";
}

<h2>Players</h2>

<div>
    <h4>Countries</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
